<a href="https://colab.research.google.com/github/rogerwender/CienciaDados/blob/main/Sistema_de_Recomenda%C3%A7%C3%A3o_de_Livros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistema de Recomendação de Livros

Recomenda livros semelhantes ao leitor com base em seu interesse. O sistema de recomendação de livros é usado por sites online que fornecem e-books como google play books, open library, good Read's, etc.

# Analisando os Dados

In [134]:
#Importação das Bibliotecas ou Pacotes
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

Fonte de Dados:

https://www.kaggle.com/rxsraghavagrawal/book-recommender-system

In [139]:
# Importação dos Dados Referentes aos Livros
livros = pd.read_csv("livros.csv", sep=';', encoding="latin-1", error_bad_lines= False)

# Importação dos Dados Referentes aos Usuários
usuarios = pd.read_csv("usuarios.csv", sep=';', encoding="latin-1", error_bad_lines= False)

# Importação dos Dados Referentes aos Ratings dados aos Livros (Avaliação do Usuário em relação ao Livro)
avaliacao = pd.read_csv("avaliacoes.csv", sep=';', encoding="latin-1", error_bad_lines= False)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [140]:
livros.head(1)

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...

[1 rows x 8 columns]

In [141]:
usuarios.head(1)

   User-ID            Location  Age
0        1  nyc, new york, usa  NaN

In [142]:
avaliacao.head(1)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0

### Organizando os dados

In [143]:
# renomeando as Colunas
livros = livros[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
livros.rename(columns = {'Book-Title':'titulo', 'Book-Author':'autor', 'Year-Of-Publication':'ano', 'Publisher':'publicador'}, inplace=True)
usuarios.rename(columns = {'User-ID':'id', 'Location':'localizacao', 'Age':'idade'}, inplace=True)
avaliacao.rename(columns = {'User-ID':'id', 'Book-Rating':'avaliacao'}, inplace=True)

In [144]:
usuarios.head(1)

   id         localizacao  idade
0   1  nyc, new york, usa    NaN

In [145]:
avaliacao.head(1)

       id        ISBN  avaliacao
0  276725  034545104X          0

In [146]:
livros.head(1)

         ISBN               titulo  ...   ano               publicador
0  0195153448  Classical Mythology  ...  2002  Oxford University Press

[1 rows x 5 columns]

In [147]:
#Quantidade de avaliações por Usuários
avaliacao['id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: id, Length: 105283, dtype: int64

In [148]:
# Livros que tenham mais de 200 avaliações
x = avaliacao['id'].value_counts() > 200

In [149]:
x

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
158698    False
17920     False
277135    False
275086    False
187812    False
Name: id, Length: 105283, dtype: bool

In [150]:
# Quantidade Usuários
# user_ids
y = x[x].index  
print(y.shape)

(899,)

In [151]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183, 155916,  44296,  73681,  59727,  28634, 188951,   9856,
            268622, 274808],
           dtype='int64', length=899)

In [152]:
# Decisão da area negocial: Trazer avaliacoes somente dos usuários q avaliaram mais de 200 livros
avaliacao = avaliacao[avaliacao['id'].isin(y)]

In [153]:
avaliacao.head()

          id        ISBN  avaliacao
1456  277427  002542730X         10
1457  277427  0026217457          0
1458  277427  003008685X          8
1459  277427  0030615321          0
1460  277427  0060002050          0

In [154]:
# Juntando tabelas
avaliacao_com_livros = avaliacao.merge(livros, on='ISBN')
avaliacao_com_livros.head()

       id        ISBN  ...   ano                 publicador
0  277427  002542730X  ...  1994  John Wiley &amp; Sons Inc
1    3363  002542730X  ...  1994  John Wiley &amp; Sons Inc
2   11676  002542730X  ...  1994  John Wiley &amp; Sons Inc
3   12538  002542730X  ...  1994  John Wiley &amp; Sons Inc
4   13552  002542730X  ...  1994  John Wiley &amp; Sons Inc

[5 rows x 7 columns]

In [155]:
#Quantidade de avaliacoes dos livros agrupados por titulo
numero_avaliacoes = avaliacao_com_livros.groupby('titulo')['avaliacao'].count().reset_index()

In [156]:
numero_avaliacoes.head(2)

                                              titulo  avaliacao
0   A Light in the Storm: The Civil War Diary of ...          2
1                              Always Have Popsicles          1

In [158]:
# Renomeando coluna
numero_avaliacoes.rename(columns= {'avaliacao':'numero_avaliacoes'}, inplace=True)
numero_avaliacoes.head(5)

                                              titulo  numero_avaliacoes
0   A Light in the Storm: The Civil War Diary of ...                  2
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Beyond IBM: Leadership Marketing and Finance ...                  1
4   Clifford Visita El Hospital (Clifford El Gran...                  1

In [159]:
# Juntando a tabela de livros com as avaliações com a tabela de quantidade de avaliacoes por livro
avaliacao_final = avaliacao_com_livros.merge(numero_avaliacoes, on='titulo')
avaliacao_final.head(5)

       id        ISBN  ...                 publicador numero_avaliacoes
0  277427  002542730X  ...  John Wiley &amp; Sons Inc                82
1    3363  002542730X  ...  John Wiley &amp; Sons Inc                82
2   11676  002542730X  ...  John Wiley &amp; Sons Inc                82
3   12538  002542730X  ...  John Wiley &amp; Sons Inc                82
4   13552  002542730X  ...  John Wiley &amp; Sons Inc                82

[5 rows x 8 columns]

In [160]:
# Decisão da area negocial: Filtrar somente livros que tenham pelo menos 50 avaliações
avaliacao_final = avaliacao_final[avaliacao_final['numero_avaliacoes'] >= 50]
avaliacao_final.shape

(61853, 8)

In [161]:
# Vamos descartar os valores duplicados, porque se o mesmo usuário tiver avaliado o mesmo livro várias vezes, isso pode dar rúim.
avaliacao_final.drop_duplicates(['id','titulo'], inplace=True)
avaliacao_final.shape

(59850, 8)

In [162]:
avaliacao_final

            id        ISBN  ...                 publicador numero_avaliacoes
0       277427  002542730X  ...  John Wiley &amp; Sons Inc                82
1         3363  002542730X  ...  John Wiley &amp; Sons Inc                82
2        11676  002542730X  ...  John Wiley &amp; Sons Inc                82
3        12538  002542730X  ...  John Wiley &amp; Sons Inc                82
4        13552  002542730X  ...  John Wiley &amp; Sons Inc                82
...        ...         ...  ...                        ...               ...
236701  255489  0553579983  ...                     Bantam                50
236702  256407  0553579983  ...                     Bantam                50
236703  257204  0553579983  ...                     Bantam                50
236704  261829  0553579983  ...                     Bantam                50
236705  273979  0553579983  ...                     Bantam                50

[59850 rows x 8 columns]

In [163]:
avaliacao_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59850 entries, 0 to 236705
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 59850 non-null  int64
 1   ISBN               59850 non-null  object
 2   avaliacao          59850 non-null  int64
 3   titulo             59850 non-null  object
 4   autor              59850 non-null  object
 5   ano                59850 non-null  object
 6   publicador         59850 non-null  object
 7   numero_avaliacoes  59850 non-null  int64
dtypes: int64(3), object(5)
memory usage: 4.1+ MB

In [164]:
# Transposição de linhas(id) em colunas, pois as avaliações dadas por eles serão as **variáveis** da máquina preditiva.
livros_pivotar = avaliacao_final.pivot_table(columns='id', index='titulo', values="avaliacao")

In [166]:
livros_pivotar.head(1)

id      254     2276    2766    2977    ...  277427  277478  277639  278418
titulo                                  ...
1984       9.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[1 rows x 888 columns]

In [107]:
livros_pivotar.shape

(742, 888)

In [167]:
livros_pivotar.fillna(0, inplace=True)

In [168]:
livros_pivotar.head(1)

id      254     2276    2766    2977    ...  277427  277478  277639  278418
titulo                                  ...
1984       9.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[1 rows x 888 columns]

In [110]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(livros_pivotar)

# Criação da Máquina Preditiva

In [169]:
# Algoritmo de Vizinhos mais proximos (Nearest heighbors algorithm) que é usado para agrupamento com base na distância euclidiana.
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

## Fazendo as predições

In [170]:
#coloca o indice conforme titulo do livro, Livro de nome 1984 está no indice 0
distancias, sugestoes = model.kneighbors(livros_pivotar.iloc[0, :].values.reshape(1, -1))

In [171]:
livros_pivotar.head(238)

id                                                  254     ...  278418
titulo                                                      ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Guilty as Sin                                          0.0  ...     0.0
H Is for Homicide (Kinsey Millhone Mysteries (P...     0.0  ...     0.0
Hannibal                                               0.0  ...     0.0
Hard Eight : A Stephanie Plum Novel (A Stephani...     0.0  ...     0.0
Harry Potter and the Chamber of Secrets (Book 2)       9.0  ...     0.0

[238 rows x 888 columns]

In [172]:
#Recomenda os livros conforme o livro informado no indice acima, no caso o livro de nome 1984
for i in range(len(sugestoes)):
  print(livros_pivotar.index[sugestoes[i]])

Index(['1984', 'No Safe Place', 'A Civil Action', 'Foucault's Pendulum',
       'Long After Midnight'],
      dtype='object', name='titulo')

In [173]:
#Hannibal está no indice 236
distancias, sugestoes = model.kneighbors(livros_pivotar.iloc[236, :].values.reshape(1, -1))

In [174]:
livros_pivotar.head(236)

id                                                  254     ...  278418
titulo                                                      ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Guardian Angel                                         0.0  ...     0.0
Guilty Pleasures (Anita Blake Vampire Hunter (P...     0.0  ...     0.0
Guilty as Sin                                          0.0  ...     0.0
H Is for Homicide (Kinsey Millhone Mysteries (P...     0.0  ...     0.0
Hannibal                                               0.0  ...     0.0

[236 rows x 888 columns]

In [176]:
#Sugere outros livros baseados no livro Hanibal
for i in range(len(sugestoes)):
  print(livros_pivotar.index[sugestoes[i]])

Index(['Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Seven Up (A Stephanie Plum Novel)',
       'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'The Next Accident', 'The Mulberry Tree'],
      dtype='object', name='titulo')

In [177]:
#Harry Potter está no indice 238
distancias, sugestoes = model.kneighbors(livros_pivotar.iloc[238, :].values.reshape(1, -1))

In [178]:
livros_pivotar.head(238)

id                                                  254     ...  278418
titulo                                                      ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Guilty as Sin                                          0.0  ...     0.0
H Is for Homicide (Kinsey Millhone Mysteries (P...     0.0  ...     0.0
Hannibal                                               0.0  ...     0.0
Hard Eight : A Stephanie Plum Novel (A Stephani...     0.0  ...     0.0
Harry Potter and the Chamber of Secrets (Book 2)       9.0  ...     0.0

[238 rows x 888 columns]

In [179]:
# Sugere outros livros baseado no livro Harry Potter de indice 238
for i in range(len(sugestoes)):
  print(livros_pivotar.index[sugestoes[i]])

Index(['Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'The Cradle Will Fall', 'Exclusive'],
      dtype='object', name='titulo')

Os livros sugeridos são baseados em livros informados através do índice.